body {
  font-family: arial, sans-serif;
  background: url(https://s3.amazonaws.com/shecodesio-production/uploads/files/000/025/237/original/5177180.jpg?1642689877);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

h1 {
  color: #070606;
  font-size: 24px;
  font-weight: 100;
  line-height: 28px;
  margin-bottom: 0;
  text-transform: bold;
  text-size-adjust: 20px;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
  color: rgb(59, 59, 59);
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
}

button {
  display: inline-block;
  margin: 0px;
  padding: 0px;
  cursor: pointer;
  background-color: rgb(8, 117, 108) !important;
  border-radius: 8px !important;
  transition: all 200ms ease-in-out;
}
button:hover {
  background-color: rgb(49, 54, 54) !important;
  color: white;
}

li:first-letter {
  text-transform: capitalize;
}
.col-6 {
  display: flex;
  padding: 15px;
}
.col-3 {
  display: flex;
  gap: 10px;
}

.city-input {
  width: 90px;
}
.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}

.weather-app {
  padding: 15px;
  margin: 15px auto;
  max-width: 600px;
  background: rgba(255, 255, 255, 0.34);
  border-radius: 10px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.9px);
  -webkit-backdrop-filter: blur(6.9px);
  border: 1px solid rgba(255, 255, 255, 0.16);
}

.overview {
  margin-bottom: 20px;
}

.weather-temperature img {
  margin-right: 5px;
  height: 64px;
  width: 64px;
}

.weather-temperature strong {
  color: rgb(33, 33, 33);
  font-size: 64px;
  line-height: 1;
  font-weight: 400;
}

.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -34px;
}

.weather-temperature .active {
  color: rgb(33, 33, 33);
  cursor: default;
}

.weather-temperature .active:hover {
  text-decoration: none;
}

#weather-forecast {
  margin-top: 20px;
  text-align: center;
  color: #000;
}
.weather-forecast-date {
  font-size: 16px;
  opacity: 0.5;
}

.weather-forecast-temperature-min {
  opacity: 0.5;
}

.weather-forecast-temperatures {
  font-size: 13px;
}
.credits {
  padding: 2px;
  position: absolute;
  left: 480px;
}
